@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Prevent overscroll bounce on iOS/Android */
    overscroll-behavior: none;
  }
  html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    touch-action: manipulation;
  }
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
}
